Django
djangorestframework
psycopg2-binary
django-cors-headers
Pillow
drf_yasg
python-dotenv
str2bool
django-cors-headers
gunicorn
django-widget-tweaks
reportlab
django-session-timeout
whitenoise>=6.6.0