{% extends 'base.html' %}

{% block title %}Delete {{ manufacturer.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-danger">Confirm Deletion</h3>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete the manufacturer "{{ manufacturer.name }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="text-end">
                            <a href="{% url 'medicines:manufacturer-list' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
